:root {
    --bs-body-bg: #f8f9fa;
    --bs-body-color: #212529;
    --bs-primary: #0d6efd;
    --bs-dark: #212529;
    --bs-info: #0dcaf0;
    --bs-danger: #dc3545;
    --bs-success: #198754;
    --bs-secondary: #6c757d;
    --main-font: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.6;
}

#pogoda-godziny,
#pogoda-dni {
    padding-left: 15px;
    padding-right: 15px;
}

.forecast-item {
    min-width: 120px;
    margin: 0 8px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #e9ecef;
    color: var(--bs-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.forecast-item img {
    width: 60px;
    height: auto;
    margin-bottom: 5px;
}

.time-display {
    font-size: 1.3rem;
    color: var(--bs-secondary);
}
.time-temp-display {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--bs-primary);
}
.time-realtemp-display {
    font-size: 1.4rem;
    color: var(--bs-info);
}

/* Ukrywanie scrollbara*/
.overflow-auto::-webkit-scrollbar {
    display: none;
}
.overflow-auto {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Media Query dla większych ekranów (np. tabletów i desktopów) */
@media (min-width: 768px) {
    #pogoda-godziny,
    #pogoda-dni {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .forecast-item {
        margin: 0 10px;
    }
}